body {
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    background-color:bisque;
}

table {
    border-spacing: 0px;
    border-collapse: separate;
    border: 1px solid black;
}

.data{
    border-style: solid;
}

.head {
    background-color: brown;
    color: azure;
    font-weight: bold;
    text-transform: uppercase;
}