body {
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    background-color: #fffa15;
}

table {
    border-spacing: 0px;
    border-collapse: separate;
    border: 1px solid #000;
}